<h1>ng directives practice</h1>
<!-- <p>ngif practice</p>

<div *ngIf = "isFirstName; 
then firstName; else lastName">
</div>

<ng-template #firstName>
  <h2>Nisha</h2>
</ng-template>

<ng-template #lastName>
  <h2>Tiwari</h2>
</ng-template> -->

<p>ng-switch practice</p>

<div [ngSwitch]="make">
  <h2 *ngSwitchCase="'Hyundai'">Hyundai</h2>
  <h2 *ngSwitchCase="'getKia()'">Kia</h2>
  <h2 *ngSwitchCase="'Tata'">Tata</h2>
  <h2 *ngSwitchDefault>No match found!</h2>
</div>

<!-- <p>ng for practice</p>

<div *ngFor="let car of cars; index as i">
  <h2>{{ i }} - {{ car }}</h2>
</div> -->

<router-outlet></router-outlet>
